/* Reset basic spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #121212; /* Dark theme layout */
    color: #ffffff;
}

/* Header Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: #1a1a1a;
    border-bottom: 2px solid #00ff88; /* Green tint line */
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #00ff88;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00ff88;
}

/* Hero Section Styling */
.hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

.hero p {
    color: #888888;
    font-size: 18px;
}



/* Highlight Akshara in Neon Green */
.hero h1 span {
    color: #00ff88;
}

/* About Section Layout */
.about-section {
    padding: 80px 8%;
    background-color: #1a1a1a; /* Darker tile to separate from hero */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-container {
    max-width: 800px;
}

.about-container h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* The Neon Accent Underline */
.about-underline {
    width: 60px;
    height: 4px;
    background-color: #00ff88;
    margin: 0 auto 30px auto;
    border-radius: 2px;
}

.about-container p {
    font-size: 18px;
    color: #cccccc;
    line-height: 1.6;
}

/* Highlight CodeAlpha inside the paragraph */
.about-container p span {
    color: #00ff88;
    font-weight: bold;
}
